<html>
<head>
    <script>
        //function gerar() {
        //    $.ajax({
        //        type: 'POST',
        //        url: "/Home/PDF",
        //        data: {},
        //            success: function () {                  
        //                var file = new Blob([data], { type: 'application/pdf' });
        //                var fileURL = URL.createObjectURL(file);
        //                window.open(fileURL);
        //            }
                
        //            error: function () {//status is Error and the errorThrown is undefined
        //                alert("erro");
        //            }
        //    });
        //}
    </script>
</head>

<body>

    <h1>EXTRATO PREVIDENCIA</h1>
    <input type="button" value="PDF" onclick="gerar();" />
    <a href="/Home/Gerar" target="_blank">View document</a>

    <a href="/Home/Gerar"><b>Criar PDF Extrato Previdência</b></a>

    @Html.BeginForm("Gerar1", "Home", FormMethod.Post, new { id = "myForm"})
    {      
        <select id="ano" name="ano">
            <option id="2019">2019</option>            
        </select>
        <select id="mes" name="mes">
            <option id="1">1</option>
            <option id="2">2</option>
        </select>
        <input type="button" value="Visualizar" onclick="enviar();"/>
    }

</body>
</html>

<script>
    function setarMes() {
        document.getElementById("mes").value = document.getElementById("teste").value;
        alert(document.getElementById("mes").value);
    }

    function enviar() {
        alert("enviando!");
        document.getElementById("myForm").submit();
    }
</script>
